In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 100)

In [3]:
data = pd.read_csv('donors.csv')
data.drop('Unnamed: 0', axis = 1, inplace  = True)
data.head()

C:\Users\maisd\anaconda3\envs\DMProject\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,,...,7.741935,95515,0,L,4,E,X,X,X,C
1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2010-01-01,AMH,1,NC,27017,,,NaN,0,,...,7.481481,15078,1,L,4,E,X,X,X,C
3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,,...,6.812500,172556,1,L,4,E,X,X,X,C
4,2006-01-01,,0,FL,33176,,,1940-01-01,0,X,...,6.864865,7112,1,L,2,F,X,X,X,A

In [4]:
# Number of missing values by column
data.isna().sum()[data.isna().sum()>0].sort_values(ascending = False)

RDATE_5     95403
RAMNT_5     95403
RDATE_3     95170
RAMNT_3     95170
RDATE_4     95131
RAMNT_4     95131
RDATE_6     94636
RAMNT_6     94636
RAMNT_15    88150
RDATE_15    88150
RAMNT_23    87553
RDATE_23    87553
RAMNT_20    87524
RDATE_20    87524
RAMNT_7     86517
RDATE_7     86517
RAMNT_17    86011
RDATE_17    86011
RDATE_21    85899
RAMNT_21    85899
RDATE_10    84951
RAMNT_10    84951
RAMNT_13    83162
RDATE_13    83162
NUMCHLD     83026
RAMNT_11    80672
RDATE_11    80672
RAMNT_19    79535
RDATE_19    79535
RAMNT_9     78678
RDATE_9     78678
RDATE_24    77674
RAMNT_24    77674
RAMNT_18    75634
RDATE_18    75634
RAMNT_22    74539
RDATE_22    74539
RDATE_8     73940
RAMNT_8     73940
RDATE_14    72095
RAMNT_14    72095
RDATE_12    69712
RAMNT_12    69712
RDATE_16    68418
RAMNT_16    68418
ADATE_15    65477
ADATE_23    56270
MBCOLECT    52914
PUBNEWFN    52854
PUBPHOTO    52854
PUBHLTH     52854
PUBCULIN    52854
PUBGARDN    52854
MAGMALE     52854
MAGFEM      52854
MAGFAML     52854
PUBDOITY    52854
MBBOOKS     52854
MBGARDEN    52854
MBCRAFT     52854
PUBOPP      52854
ADATE_20    50200
WEALTH1     44732
WEALTH2     43823
ADATE_13    40219
ADATE_24    36973
ADATE_21    35212
ADATE_5     33590
ADATE_10    32748
ADATE_17    27650
ADATE_22    25648
ADATE_19    24480
DOB         23883
INCOME      21286
ADATE_18    21263
ADATE_16    20364
ADATE_14    18867
ADATE_9     11245
ADATE_11    10422
TIMELAG      9973
NEXTDATE     9973
ADATE_12     8923
ADATE_7      8874
ADATE_6      3557
ADATE_8      3511
ADATE_4      2191
ADATE_3      1950
MSA           132
ADI           132
DMA           132
GEOCODE2      132
FISTDATE        2
dtype: int64

In [5]:
# Number of Missing Values by row
data.isna().apply(lambda x: sum(x), axis=1).value_counts().sort_index()

15       1
18       2
19       5
20       5
21       9
22      11
23      33
24      35
25      42
26      51
27      94
28     106
29     169
30     209
31     285
32     378
33     545
34     593
35     932
36    1015
37    1459
38    1570
39    2027
40    2321
41    2839
42    2911
43    3074
44    3088
45    2718
46    2791
47    2544
48    2234
49    2124
50    2278
51    2269
52    2234
53    2288
54    2427
55    2668
56    3029
57    3353
58    3653
59    3275
60    3180
61    3549
62    3269
63    3491
64    2363
65    1938
66    1646
67    1286
68    1061
69     805
70     562
71     547
72     546
73     685
74     475
75     742
76     798
77     945
78    1610
79     700
80     974
81     273
82      94
83     162
84      13
85       2
86       2
dtype: int64

In [6]:
train = data.copy()

In [7]:
# Variables with more than 70% missing values -> RDATE | RAMNT | NUMCHLD
(round((data.isna().sum()[data.isna().sum()>0])/len(data),4))[(data.isna().sum()[data.isna().sum()>0])/len(data) > 0.7].sort_values(ascending = False)

# SoluÃ§Ã£o

# drop 'RDATE_','RAMNT_','ADATE_'

# drop 'NUMCHLD' -> Criar binÃ¡ria: Filhos menores de Idade


# Se 'CHILD03','CHILD07','CHILD12','CHILD18' = ' ', e NUMCHLD != 0 -> Filhos maiores de idade -> nÃ£o Ã© incoerente

# Tem M ou F nas 'CHILD03','CHILD07','CHILD12','CHILD18' e NUMCHLD == 0:
# data.loc[(((data['CHILD03'] != ' ') | (data['CHILD07'] != ' ') | (data['CHILD12'] != ' ') | (data['CHILD18'] != ' ')) & np.isnan(data['NUMCHLD'])),['CHILD03','CHILD07','CHILD12','CHILD18','NUMCHLD']]

RDATE_5     0.9999
RAMNT_5     0.9999
RDATE_3     0.9975
RAMNT_3     0.9975
RDATE_4     0.9971
RAMNT_4     0.9971
RDATE_6     0.9919
RAMNT_6     0.9919
RDATE_15    0.9239
RAMNT_15    0.9239
RDATE_23    0.9176
RAMNT_23    0.9176
RAMNT_20    0.9173
RDATE_20    0.9173
RAMNT_7     0.9068
RDATE_7     0.9068
RAMNT_17    0.9015
RDATE_17    0.9015
RDATE_21    0.9003
RAMNT_21    0.9003
RAMNT_10    0.8904
RDATE_10    0.8904
RAMNT_13    0.8716
RDATE_13    0.8716
NUMCHLD     0.8702
RAMNT_11    0.8455
RDATE_11    0.8455
RDATE_19    0.8336
RAMNT_19    0.8336
RDATE_9     0.8246
RAMNT_9     0.8246
RAMNT_24    0.8141
RDATE_24    0.8141
RDATE_18    0.7927
RAMNT_18    0.7927
RDATE_22    0.7812
RAMNT_22    0.7812
RAMNT_8     0.7750
RDATE_8     0.7750
RDATE_14    0.7556
RAMNT_14    0.7556
RDATE_12    0.7306
RAMNT_12    0.7306
RDATE_16    0.7171
RAMNT_16    0.7171
dtype: float64

In [8]:
# Drop 'ADATE_x'
train = train.drop(columns = train.loc[:,'ADATE_2':'ADATE_24'].columns)

In [9]:
# drop 'RDATE_x','RAMNT_x'
train = train.drop(columns = train.loc[:,'RDATE_3':'RAMNT_24'].columns)

In [10]:
# drop 'NUMCHLD'
train = train.drop(columns = 'NUMCHLD')

In [11]:
# Variables with less than 70% missing values
(round((data.isna().sum()[data.isna().sum()>0])/len(data),4))[(data.isna().sum()[data.isna().sum()>0])/len(data) < 0.7].sort_values(ascending = False)


# 'GEOCODE' -> FICA DE LADO

# 'DOB','INCOME' -> prever


# 'MBCRAFT':'PUBOPP' -> prever 
# data.loc[:,'MBCRAFT':'PUBOPP']


# drop 'WEALTH1' -> Pouca informaÃ§Ã£o no metadata, nÃ£o conseguimos diferenciar da 'WEALTH2'
# 'WEALTH2' ->  prever 


# 'GEOCODE2' -> PREVER 
# HÃ¡ NaN's em 'GEOCODE2' para 'ZIP' que tÃªm 'GEOCODE2' -> preencher os NaN's com o valor que existe noutra row com o mesmo 'ZIP'

ADATE_15    0.6863
ADATE_23    0.5898
MBCOLECT    0.5546
PUBPHOTO    0.5540
PUBNEWFN    0.5540
PUBDOITY    0.5540
PUBHLTH     0.5540
PUBCULIN    0.5540
PUBGARDN    0.5540
MAGMALE     0.5540
MAGFEM      0.5540
MAGFAML     0.5540
PUBOPP      0.5540
MBBOOKS     0.5540
MBGARDEN    0.5540
MBCRAFT     0.5540
ADATE_20    0.5261
WEALTH1     0.4688
WEALTH2     0.4593
ADATE_13    0.4215
ADATE_24    0.3875
ADATE_21    0.3691
ADATE_5     0.3521
ADATE_10    0.3432
ADATE_17    0.2898
ADATE_22    0.2688
ADATE_19    0.2566
DOB         0.2503
INCOME      0.2231
ADATE_18    0.2229
ADATE_16    0.2134
ADATE_14    0.1977
ADATE_9     0.1179
ADATE_11    0.1092
TIMELAG     0.1045
NEXTDATE    0.1045
ADATE_12    0.0935
ADATE_7     0.0930
ADATE_6     0.0373
ADATE_8     0.0368
ADATE_4     0.0230
ADATE_3     0.0204
MSA         0.0014
ADI         0.0014
DMA         0.0014
GEOCODE2    0.0014
FISTDATE    0.0000
dtype: float64

In [12]:
# 'DOB','INCOME' -> prever

In [13]:
# 'MBCRAFT':'PUBOPP' -> prever

In [14]:
# drop 'WEALTH1' -> Pouca informaÃ§Ã£o no metadata, nÃ£o conseguimos diferenciar da 'WEALTH2'
train = train.drop(columns = 'WEALTH1')

# 'WEALTH2' ->  prever

In [16]:
# HÃ¡ NaN's em 'GEOCODE2' para 'ZIP' que tÃªm 'GEOCODE2' -> preencher os NaN's com o valor que existe noutra row com o mesmo 'ZIP'
geo_nans =  train.loc[train['ZIP'].isin(train.loc[train['GEOCODE2'].isna() == True, 'ZIP'].unique()), ['ZIP','GEOCODE2']].sort_values(by='ZIP')
geo_no_nans = geo_nans.loc[geo_nans['GEOCODE2'].isna() == False].drop_duplicates()

for zipcode in geo_nans['ZIP'].unique():
        
        if zipcode in geo_no_nans['ZIP'].values:
            
            train.loc[train['ZIP'] == zipcode, 'GEOCODE2'] = geo_no_nans.loc[geo_no_nans['ZIP'] == zipcode, 'GEOCODE2'].values[0]    
            
# 'GEOCODE2' -> PREVER