In [13]:
#Lapsed donors on this dataset are from the promotion nº 2, 17NK (from Forums)
data['RFA_2R'].value_counts()

L    95412
Name: RFA_2R, dtype: int64

# Data Mining Project

## Import and assessing data

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from math import ceil
import os

In [3]:
#goes to the previous folder, accesses the data folder, and gets the path to the donors.csv file (this is done bc the is
#too large to upload on GitHub)
path = os.path.join('..', 'data', 'donors.csv')

data = pd.read_csv(path, sep = ',')

data.head()

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,...,7.741935,95515,0,L,4,E,X,X,X,C
1,1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2,2010-01-01,AMH,1,NC,27017,,,NaN,0,...,7.481481,15078,1,L,4,E,X,X,X,C
3,3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,...,6.812500,172556,1,L,4,E,X,X,X,C
4,4,2006-01-01,,0,FL,33176,,,1940-01-01,0,...,6.864865,7112,1,L,2,F,X,X,X,A

In [11]:
# Get a copy of the original dataset
data_original = data.copy()

In [4]:
# Optional -> to check all the rows and columns
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [6]:
# Dimension of the dataset
data.shape

(95412, 476)

In [7]:
# Data types of the variables and columns
data.dtypes

Unnamed: 0     int64
ODATEDW       object
OSOURCE       object
TCODE          int64
STATE         object
               ...
RFA_2A        object
MDMAUD_R      object
MDMAUD_F      object
MDMAUD_A      object
GEOCODE2      object
Length: 476, dtype: object

In [5]:
# Summary Statistics of our variables
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,95412,NaN,NaN,NaN,47705.5,27543.2,0,23852.8,47705.5,71558.2,95411
ODATEDW,95412,54,2015-01-01,15358,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OSOURCE,95412,896,MBC,4539,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TCODE,95412,NaN,NaN,NaN,54.2231,953.844,0,0,1,2,72002
STATE,95412,57,CA,17343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
RFA_2A,95412,4,F,46964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MDMAUD_R,95412,5,X,95118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MDMAUD_F,95412,4,X,95118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MDMAUD_A,95412,5,X,95118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GEOCODE2,95280,5,A,34484,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Info on the donors dataset
data.info(max_cols=476)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 476 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  95412 non-null  int64
 1   ODATEDW     95412 non-null  object
 2   OSOURCE     95412 non-null  object
 3   TCODE       95412 non-null  int64
 4   STATE       95412 non-null  object
 5   ZIP         95412 non-null  object
 6   MAILCODE    95412 non-null  object
 7   PVASTATE    95412 non-null  object
 8   DOB         71529 non-null  object
 9   NOEXCH      95412 non-null  object
 10  RECINHSE    95412 non-null  object
 11  RECP3       95412 non-null  object
 12  RECPGVG     95412 non-null  object
 13  RECSWEEP    95412 non-null  object
 14  MDMAUD      95412 non-null  object
 15  DOMAIN      95412 non-null  object
 16  HOMEOWNR    95412 non-null  object
 17  CHILD03     95412 non-null  object
 18  CHILD07     95412 non-null  object
 19  CHILD12     95412 non-null  object
 20  CHILD18     95412 non-null  object
 21  NUMCHLD     12386 non-null  float64
 22  INCOME      74126 non-null  float64
 23  GENDER      95412 non-null  object
 24  WEALTH1     50680 non-null  float64
 25  HIT         95412 non-null  int64
 26  MBCRAFT     42558 non-null  float64
 27  MBGARDEN    42558 non-null  float64
 28  MBBOOKS     42558 non-null  float64
 29  MBCOLECT    42498 non-null  float64
 30  MAGFAML     42558 non-null  float64
 31  MAGFEM      42558 non-null  float64
 32  MAGMALE     42558 non-null  float64
 33  PUBGARDN    42558 non-null  float64
 34  PUBCULIN    42558 non-null  float64
 35  PUBHLTH     42558 non-null  float64
 36  PUBDOITY    42558 non-null  float64
 37  PUBNEWFN    42558 non-null  float64
 38  PUBPHOTO    42558 non-null  float64
 39  PUBOPP      42558 non-null  float64
 40  DATASRCE    95412 non-null  object
 41  MALEMILI    95412 non-null  int64
 42  MALEVET     95412 non-null  int64
 43  VIETVETS    95412 non-null  int64
 44  WWIIVETS    95412 non-null  int64
 45  LOCALGOV    95412 non-null  int64
 46  STATEGOV    95412 non-null  int64
 47  FEDGOV      95412 non-null  int64
 48  SOLP3       95412 non-null  object
 49  SOLIH       95412 non-null  object
 50  MAJOR       95412 non-null  object
 51  WEALTH2     51589 non-null  float64
 52  GEOCODE     95412 non-null  object
 53  COLLECT1    95412 non-null  object
 54  VETERANS    95412 non-null  object
 55  BIBLE       95412 non-null  object
 56  CATLG       95412 non-null  object
 57  HOMEE       95412 non-null  object
 58  PETS        95412 non-null  object
 59  CDPLAY      95412 non-null  object
 60  STEREO      95412 non-null  object
 61  PCOWNERS    95412 non-null  object
 62  PHOTO       95412 non-null  object
 63  CRAFTS      95412 non-null  object
 64  FISHER      95412 non-null  object
 65  GARDENIN    95412 non-null  object
 66  BOATS       95412 non-null  object
 67  WALKER      95412 non-null  object
 68  KIDSTUFF    95412 non-null  object
 69  CARDS       95412 non-null  object
 70  PLATES      95412 non-null  object
 71  LIFESRC     95412 non-null  object
 72  PEPSTRFL    95412 non-null  object
 73  POP901      95412 non-null  int64
 74  POP902      95412 non-null  int64
 75  POP903      95412 non-null  int64
 76  POP90C1     95412 non-null  int64
 77  POP90C2     95412 non-null  int64
 78  POP90C3     95412 non-null  int64
 79  POP90C4     95412 non-null  int64
 80  POP90C5     95412 non-null  int64
 81  ETH1        95412 non-null  int64
 82  ETH2        95412 non-null  int64
 83  ETH3        95412 non-null  int64
 84  ETH4        95412 non-null  int64
 85  ETH5        95412 non-null  int64
 86  ETH6        95412 non-null  int64
 87  ETH7        95412 non-null  int64
 88  ETH8        95412 non-null  int64
 89  ETH9        95412 non-null  int64
 90  ETH10       95412 non-null  int64
 91  ETH11       95412 non-null  int64
 92  ETH12       95412 non-null  int64
 93  ETH13       95412 non-null  int64
 94  ETH14       95412 non-null  int64
 95  ETH15       95412 non-null  int64
 96  ETH16       95412 non-null  int64
 97  AGE901      95412 non-null  int64
 98  AGE902      95412 non-null  int64
 99  AGE903      95412 non-null  int64
 100 AGE904      95412 non-null  int64
 101 AGE905      95412 non-null  int64
 102 AGE906      95412 non-null  int64
 103 AGE907      95412 non-null  int64
 104 CHIL1       95412 non-null  int64
 105 CHIL2       95412 non-null  int64
 106 CHIL3       95412 non-null  int64
 107 AGEC1       95412 non-null  int64
 108 AGEC2       95412 non-null  int64
 109 AGEC3       95412 non-null  int64
 110 AGEC4       95412 non-null  int64
 111 AGEC5       95412 non-null  int64
 112 AGEC6       95412 non-null  int64
 113 AGEC7       95412 non-null  int64
 114 CHILC1      95412 non-null  int64
 115 CHILC2      95412 non-null  int64
 116 CHILC3      95412 non-null  int64
 117 CHILC4      95412 non-null  int64
 118 CHILC5      95412 non-null  int64
 119 HHAGE1      95412 non-null  int64
 120 HHAGE2      95412 non-null  int64
 121 HHAGE3      95412 non-null  int64
 122 HHN1        95412 non-null  int64
 123 HHN2        95412 non-null  int64
 124 HHN3        95412 non-null  int64
 125 HHN4        95412 non-null  int64
 126 HHN5        95412 non-null  int64
 127 HHN6        95412 non-null  int64
 128 MARR1       95412 non-null  int64
 129 MARR2       95412 non-null  int64
 130 MARR3       95412 non-null  int64
 131 MARR4       95412 non-null  int64
 132 HHP1        95412 non-null  int64
 133 HHP2        95412 non-null  int64
 134 DW1         95412 non-null  int64
 135 DW2         95412 non-null  int64
 136 DW3         95412 non-null  int64
 137 DW4         95412 non-null  int64
 138 DW5         95412 non-null  int64
 139 DW6         95412 non-null  int64
 140 DW7         95412 non-null  int64
 141 DW8         95412 non-null  int64
 142 DW9         95412 non-null  int64
 143 HV1         95412 non-null  int64
 144 HV2         95412 non-null  int64
 145 HV3         95412 non-null  int64
 146 HV4         95412 non-null  int64
 147 HU1         95412 non-null  int64
 148 HU2         95412 non-null  int64
 149 HU3         95412 non-null  int64
 150 HU4         95412 non-null  int64
 151 HU5         95412 non-null  int64
 152 HHD1        95412 non-null  int64
 153 HHD2        95412 non-null  int64
 154 HHD3        95412 non-null  int64
 155 HHD4        95412 non-null  int64
 156 HHD5        95412 non-null  int64
 157 HHD6        95412 non-null  int64
 158 HHD7        95412 non-null  int64
 159 HHD8        95412 non-null  int64
 160 HHD9        95412 non-null  int64
 161 HHD10       95412 non-null  int64
 162 HHD11       95412 non-null  int64
 163 HHD12       95412 non-null  int64
 164 ETHC1       95412 non-null  int64
 165 ETHC2       95412 non-null  int64
 166 ETHC3       95412 non-null  int64
 167 ETHC4       95412 non-null  int64
 168 ETHC5       95412 non-null  int64
 169 ETHC6       95412 non-null  int64
 170 HVP1        95412 non-null  int64
 171 HVP2        95412 non-null  int64
 172 HVP3        95412 non-null  int64
 173 HVP4        95412 non-null  int64
 174 HVP5        95412 non-null  int64
 175 HVP6        95412 non-null  int64
 176 HUR1        95412 non-null  int64
 177 HUR2        95412 non-null  int64
 178 RHP1        95412 non-null  int64
 179 RHP2        95412 non-null  int64
 180 RHP3        95412 non-null  int64
 181 RHP4        95412 non-null  int64
 182 HUPA1       95412 non-null  int64
 183 HUPA2       95412 non-null  int64
 184 HUPA3       95412 non-null  int64
 185 HUPA4       95412 non-null  int64
 186 HUPA5       95412 non-null  int64
 187 HUPA6       95412 non-null  int64
 188 HUPA7       95412 non-null  int64
 189 RP1         95412 non-null  int64
 190 RP2         95412 non-null  int64
 191 RP3         95412 non-null  int64
 192 RP4         95412 non-null  int64
 193 MSA         95280 non-null  float64
 194 ADI         95280 non-null  float64
 195 DMA         95280 non-null  float64
 196 IC1         95412 non-null  int64
 197 IC2         95412 non-null  int64
 198 IC3         95412 non-null  int64
 199 IC4         95412 non-null  int64
 200 IC5         95412 non-null  int64
 201 IC6         95412 non-null  int64
 202 IC7         95412 non-null  int64
 203 IC8         95412 non-null  int64
 204 IC9         95412 non-null  int64
 205 IC10        95412 non-null  int64
 206 IC11        95412 non-null  int64
 207 IC12        95412 non-null  int64
 208 IC13        95412 non-null  int64
 209 IC14        95412 non-null  int64
 210 IC15        95412 non-null  int64
 211 IC16        95412 non-null  int64
 212 IC17        95412 non-null  int64
 213 IC18        95412 non-null  int64
 214 IC19        95412 non-null  int64
 215 IC20        95412 non-null  int64
 216 IC21        95412 non-null  int64
 217 IC22        95412 non-null  int64
 218 IC23        95412 non-null  int64
 219 HHAS1       95412 non-null  int64
 220 HHAS2       95412 non-null  int64
 221 HHAS3       95412 non-null  int64
 222 HHAS4       95412 non-null  int64
 223 MC1         95412 non-null  int64
 224 MC2         95412 non-null  int64
 225 MC3         95412 non-null  int64
 226 TPE1        95412 non-null  int64
 227 TPE2        95412 non-null  int64
 228 TPE3        95412 non-null  int64
 229 TPE4        95412 non-null  int64
 230 TPE5        95412 non-null  int64
 231 TPE6        95412 non-null  int64
 232 TPE7        95412 non-null  int64
 233 TPE8        95412 non-null  int64
 234 TPE9        95412 non-null  int64
 235 PEC1        95412 non-null  int64
 236 PEC2        95412 non-null  int64
 237 TPE10       95412 non-null  int64
 238 TPE11       95412 non-null  int64
 239 TPE12       95412 non-null  int64
 240 TPE13       95412 non-null  int64
 241 LFC1        95412 non-null  int64
 242 LFC2        95412 non-null  int64
 243 LFC3        95412 non-null  int64
 244 LFC4        95412 non-null  int64
 245 LFC5        95412 non-null  int64
 246 LFC6        95412 non-null  int64
 247 LFC7        95412 non-null  int64
 248 LFC8        95412 non-null  int64
 249 LFC9        95412 non-null  int64
 250 LFC10       95412 non-null  int64
 251 OCC1        95412 non-null  int64
 252 OCC2        95412 non-null  int64
 253 OCC3        95412 non-null  int64
 254 OCC4        95412 non-null  int64
 255 OCC5        95412 non-null  int64
 256 OCC6        95412 non-null  int64
 257 OCC7        95412 non-null  int64
 258 OCC8        95412 non-null  int64
 259 OCC9        95412 non-null  int64
 260 OCC10       95412 non-null  int64
 261 OCC11       95412 non-null  int64
 262 OCC12       95412 non-null  int64
 263 OCC13       95412 non-null  int64
 264 EIC1        95412 non-null  int64
 265 EIC2        95412 non-null  int64
 266 EIC3        95412 non-null  int64
 267 EIC4        95412 non-null  int64
 268 EIC5        95412 non-null  int64
 269 EIC6        95412 non-null  int64
 270 EIC7        95412 non-null  int64
 271 EIC8        95412 non-null  int64
 272 EIC9        95412 non-null  int64
 273 EIC10       95412 non-null  int64
 274 EIC11       95412 non-null  int64
 275 EIC12       95412 non-null  int64
 276 EIC13       95412 non-null  int64
 277 EIC14       95412 non-null  int64
 278 EIC15       95412 non-null  int64
 279 EIC16       95412 non-null  int64
 280 OEDC1       95412 non-null  int64
 281 OEDC2       95412 non-null  int64
 282 OEDC3       95412 non-null  int64
 283 OEDC4       95412 non-null  int64
 284 OEDC5       95412 non-null  int64
 285 OEDC6       95412 non-null  int64
 286 OEDC7       95412 non-null  int64
 287 EC1         95412 non-null  int64
 288 EC2         95412 non-null  int64
 289 EC3         95412 non-null  int64
 290 EC4         95412 non-null  int64
 291 EC5         95412 non-null  int64
 292 EC6         95412 non-null  int64
 293 EC7         95412 non-null  int64
 294 EC8         95412 non-null  int64
 295 SEC1        95412 non-null  int64
 296 SEC2        95412 non-null  int64
 297 SEC3        95412 non-null  int64
 298 SEC4        95412 non-null  int64
 299 SEC5        95412 non-null  int64
 300 AFC1        95412 non-null  int64
 301 AFC2        95412 non-null  int64
 302 AFC3        95412 non-null  int64
 303 AFC4        95412 non-null  int64
 304 AFC5        95412 non-null  int64
 305 AFC6        95412 non-null  int64
 306 VC1         95412 non-null  int64
 307 VC2         95412 non-null  int64
 308 VC3         95412 non-null  int64
 309 VC4         95412 non-null  int64
 310 ANC1        95412 non-null  int64
 311 ANC2        95412 non-null  int64
 312 ANC3        95412 non-null  int64
 313 ANC4        95412 non-null  int64
 314 ANC5        95412 non-null  int64
 315 ANC6        95412 non-null  int64
 316 ANC7        95412 non-null  int64
 317 ANC8        95412 non-null  int64
 318 ANC9        95412 non-null  int64
 319 ANC10       95412 non-null  int64
 320 ANC11       95412 non-null  int64
 321 ANC12       95412 non-null  int64
 322 ANC13       95412 non-null  int64
 323 ANC14       95412 non-null  int64
 324 ANC15       95412 non-null  int64
 325 POBC1       95412 non-null  int64
 326 POBC2       95412 non-null  int64
 327 LSC1        95412 non-null  int64
 328 LSC2        95412 non-null  int64
 329 LSC3        95412 non-null  int64
 330 LSC4        95412 non-null  int64
 331 VOC1        95412 non-null  int64
 332 VOC2        95412 non-null  int64
 333 VOC3        95412 non-null  int64
 334 HC1         95412 non-null  int64
 335 HC2         95412 non-null  int64
 336 HC3         95412 non-null  int64
 337 HC4         95412 non-null  int64
 338 HC5         95412 non-null  int64
 339 HC6         95412 non-null  int64
 340 HC7         95412 non-null  int64
 341 HC8         95412 non-null  int64
 342 HC9         95412 non-null  int64
 343 HC10        95412 non-null  int64
 344 HC11        95412 non-null  int64
 345 HC12        95412 non-null  int64
 346 HC13        95412 non-null  int64
 347 HC14        95412 non-null  int64
 348 HC15        95412 non-null  int64
 349 HC16        95412 non-null  int64
 350 HC17        95412 non-null  int64
 351 HC18        95412 non-null  int64
 352 HC19        95412 non-null  int64
 353 HC20        95412 non-null  int64
 354 HC21        95412 non-null  int64
 355 MHUC1       95412 non-null  int64
 356 MHUC2       95412 non-null  int64
 357 AC1         95412 non-null  int64
 358 AC2         95412 non-null  int64
 359 ADATE_2     95412 non-null  object
 360 ADATE_3     93462 non-null  object
 361 ADATE_4     93221 non-null  object
 362 ADATE_5     61822 non-null  object
 363 ADATE_6     91855 non-null  object
 364 ADATE_7     86538 non-null  object
 365 ADATE_8     91901 non-null  object
 366 ADATE_9     84167 non-null  object
 367 ADATE_10    62664 non-null  object
 368 ADATE_11    84990 non-null  object
 369 ADATE_12    86489 non-null  object
 370 ADATE_13    55193 non-null  object
 371 ADATE_14    76545 non-null  object
 372 ADATE_15    29935 non-null  object
 373 ADATE_16    75048 non-null  object
 374 ADATE_17    67762 non-null  object
 375 ADATE_18    74149 non-null  object
 376 ADATE_19    70932 non-null  object
 377 ADATE_20    45212 non-null  object
 378 ADATE_21    60200 non-null  object
 379 ADATE_22    69764 non-null  object
 380 ADATE_23    39142 non-null  object
 381 ADATE_24    58439 non-null  object
 382 RFA_2       95412 non-null  object
 383 RFA_3       95412 non-null  object
 384 RFA_4       95412 non-null  object
 385 RFA_5       95412 non-null  object
 386 RFA_6       95412 non-null  object
 387 RFA_7       95412 non-null  object
 388 RFA_8       95412 non-null  object
 389 RFA_9       95412 non-null  object
 390 RFA_10      95412 non-null  object
 391 RFA_11      95412 non-null  object
 392 RFA_12      95412 non-null  object
 393 RFA_13      95412 non-null  object
 394 RFA_14      95412 non-null  object
 395 RFA_15      95412 non-null  object
 396 RFA_16      95412 non-null  object
 397 RFA_17      95412 non-null  object
 398 RFA_18      95412 non-null  object
 399 RFA_19      95412 non-null  object
 400 RFA_20      95412 non-null  object
 401 RFA_21      95412 non-null  object
 402 RFA_22      95412 non-null  object
 403 RFA_23      95412 non-null  object
 404 RFA_24      95412 non-null  object
 405 CARDPROM    95412 non-null  int64
 406 MAXADATE    95412 non-null  object
 407 NUMPROM     95412 non-null  int64
 408 CARDPM12    95412 non-null  int64
 409 NUMPRM12    95412 non-null  int64
 410 RDATE_3     242 non-null    object
 411 RDATE_4     281 non-null    object
 412 RDATE_5     9 non-null      object
 413 RDATE_6     776 non-null    object
 414 RDATE_7     8895 non-null   object
 415 RDATE_8     21472 non-null  object
 416 RDATE_9     16734 non-null  object
 417 RDATE_10    10461 non-null  object
 418 RDATE_11    14740 non-null  object
 419 RDATE_12    25700 non-null  object
 420 RDATE_13    12250 non-null  object
 421 RDATE_14    23317 non-null  object
 422 RDATE_15    7262 non-null   object
 423 RDATE_16    26994 non-null  object
 424 RDATE_17    9401 non-null   object
 425 RDATE_18    19778 non-null  object
 426 RDATE_19    15877 non-null  object
 427 RDATE_20    7888 non-null   object
 428 RDATE_21    9513 non-null   object
 429 RDATE_22    20873 non-null  object
 430 RDATE_23    7859 non-null   object
 431 RDATE_24    17738 non-null  object
 432 RAMNT_3     242 non-null    float64
 433 RAMNT_4     281 non-null    float64
 434 RAMNT_5     9 non-null      float64
 435 RAMNT_6     776 non-null    float64
 436 RAMNT_7     8895 non-null   float64
 437 RAMNT_8     21472 non-null  float64
 438 RAMNT_9     16734 non-null  float64
 439 RAMNT_10    10461 non-null  float64
 440 RAMNT_11    14740 non-null  float64
 441 RAMNT_12    25700 non-null  float64
 442 RAMNT_13    12250 non-null  float64
 443 RAMNT_14    23317 non-null  float64
 444 RAMNT_15    7262 non-null   float64
 445 RAMNT_16    26994 non-null  float64
 446 RAMNT_17    9401 non-null   float64
 447 RAMNT_18    19778 non-null  float64
 448 RAMNT_19    15877 non-null  float64
 449 RAMNT_20    7888 non-null   float64
 450 RAMNT_21    9513 non-null   float64
 451 RAMNT_22    20873 non-null  float64
 452 RAMNT_23    7859 non-null   float64
 453 RAMNT_24    17738 non-null  float64
 454 RAMNTALL    95412 non-null  float64
 455 NGIFTALL    95412 non-null  int64
 456 CARDGIFT    95412 non-null  int64
 457 MINRAMNT    95412 non-null  float64
 458 MINRDATE    95412 non-null  object
 459 MAXRAMNT    95412 non-null  float64
 460 MAXRDATE    95412 non-null  object
 461 LASTGIFT    95412 non-null  float64
 462 LASTDATE    95412 non-null  object
 463 FISTDATE    95410 non-null  object
 464 NEXTDATE    85439 non-null  object
 465 TIMELAG     85439 non-null  float64
 466 AVGGIFT     95412 non-null  float64
 467 CONTROLN    95412 non-null  int64
 468 HPHONE_D    95412 non-null  int64
 469 RFA_2R      95412 non-null  object
 470 RFA_2F      95412 non-null  int64
 471 RFA_2A      95412 non-null  object
 472 MDMAUD_R    95412 non-null  object
 473 MDMAUD_F    95412 non-null  object
 474 MDMAUD_A    95412 non-null  object
 475 GEOCODE2    95280 non-null  object
dtypes: float64(49), int64(302), object(125)
memory usage: 346.5+ MB

In [9]:
# Check duplicates
any(data.duplicated())

False

In [10]:
# Count of missing values
data.isna().sum()

Unnamed: 0      0
ODATEDW         0
OSOURCE         0
TCODE           0
STATE           0
             ...
RFA_2A          0
MDMAUD_R        0
MDMAUD_F        0
MDMAUD_A        0
GEOCODE2      132
Length: 476, dtype: int64

## Data Treatment

In [13]:
# Ver no coherence:
# O LASTDATE é o resumo das campanhas, mas como a ultima data das campanhas está, várias vezes, incoerente com as RDATE, e
# e tendo em conta que estas têm muitos missing values (algumas mais de 70%), decidimos dropar as RDATE. Assumimos, tbm, 
# que há muitos valores que podem ter sido inseridos manualmente, o que leva às incoerências.

In [14]:
##########################################################################################################
#Em principio, dropar as RAMNT; ADATE; RDATE, pq está tudo incoerente com as summary variables (checkar o código que tá no data_treatment_v2)
##########################################################################################################

In [15]:
#CONTROLN: stays as index of the dataset
data.set_index('CONTROLN', inplace=True)

In [16]:
#Problema pa depois:

#put aside the variables that are already related to a PVA's clustering, and may be used in the end to compare it to our
#solution...:
donors_pva_cluster = data[['MDMAUD', 'DOMAIN', 'GEOCODE', 'PEPSTRFL']].copy()

#MDMAUD: RFA field, already a clustering from the organization

#put this aside because it is clustering (this one is a bit different from the RFA variables)
#donors_pva_cluster.replace({'DOMAIN' : {' ' : np.nan}}, inplace = True)

#GEOCODE is what? Put aside for now - clustering
#donors_pva_cluster.replace({'GEOCODE' : {' ' : np.nan}}, inplace = True)

#probably put aside! bc it's related to RFA
#donors_pva_cluster.replace({'PEPSTRFL' : {'X' : '1', ' ' : '0'}}, inplace = True)

rfa1 = data.loc[:, 'RFA_2':'RFA_24'].copy()
donors_pva_cluster = pd.merge(donors_pva_cluster, rfa1, left_index=True, right_index=True)
#from RFA_2 to RFA_24: these are variables with a clustering solution from PVA; don't use them for now (maybe use them
#in the end to compare with our own clustering solution)

rfa_and_mdmaud = data.loc[:, 'RFA_2R':'MDMAUD_A'].copy()
donors_pva_cluster = pd.merge(donors_pva_cluster, rfa_and_mdmaud, left_index=True, right_index=True)
#RFA_2R, RFA_2F, RFA_2A are related to RFA (put aside for now?)
#MDMAUD_R, MDMAUD_F, MDMAUD_A are related to RFA (put aside for now?)

donors_pva_cluster.head()

,MDMAUD,DOMAIN,GEOCODE,PEPSTRFL,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A
CONTROLN,,,,,,,,,,,,,,,,,,,,,
95515,XXXX,T2,,X,L4E,S4E,S4E,S4E,S4E,S4E,...,S4E,S4E,S4E,S4E,L,4,E,X,X,X
148535,XXXX,S1,02,,L2G,A2G,A2G,A2G,A2G,A1E,...,N1E,N1E,,F1E,L,2,G,X,X,X
15078,XXXX,R2,,X,L4E,S4E,S4E,S4E,S4E,S4F,...,,S4D,S4D,S3D,L,4,E,X,X,X
172556,XXXX,R2,,X,L4E,S4E,S4E,S4E,S4E,S4E,...,A1D,A1D,,,L,4,E,X,X,X
7112,XXXX,S2,,,L2F,A2F,A2F,A2F,A1D,I2D,...,A3D,I4E,A3D,A3D,L,2,F,X,X,X

In [18]:
#drop these:
data.drop(columns = ['Unnamed: 0',
                     'NOEXCH',
                     'WEALTH1',
                     'DATASRCE',
                     'LIFESRC'], inplace = True)

#Unnamed: 0: it has indexes from 0 to 95412, it's redundant

#NOEXCH: this var. has inconsistencies with the metadata available, as there's no reference to '0', '1', 0 or 1 values
#BELO - COHERENCE
#drop this! (incoherent, bc the variable has many incoherences with the metadata -> explicar melhor no relatório)
#data['NOEXCH'].value_counts()

#WEALTH1 has similar values to WEALTH2 but the metadata does not specify what is the variable, so we decided to keep
#the WEALTH2, which is well described
#data = data.astype({"WEALTH1": object})
#data['WEALTH1'].unique()

#data['DATASRCE'].unique()
#data.replace({'DATASRCE' : {' ' : np.nan}}, inplace = True)
#says which was the source of the data in this section of variables; it has 21280 ' ' (blanks)
#DROP! bc the variable is not very useful for interpreting the clusters (we are not sure about what are the values 
#representing... companies? we could not find on the internet)

#LIFESRC: same as DATASRCE...
#data['LIFESRC'].value_counts()
#data.replace({'LIFESRC' : {' ' : np.nan}}, inplace = True)
#says which was the source of the data in this section of variables; it has 54032 ' ' (blanks)
#DROP! bc the variable is not very useful for interpreting the clusters (we are not sure about what are the values 
#representing... companies? we could not find on the internet)

#We decided to drop all ADATE_x; RDATE_x and RAMNT_x bc they are incoherent with the summary variables.
#The code showing why we think these are incoherent is on the Coherence Check phase.

# Drop all 'ADATE_x'
data = data.drop(columns = data.loc[:,'ADATE_2':'ADATE_24'].columns)

# Drop all 'RDATE_x' and all 'RAMNT_x'
data = data.drop(columns = data.loc[:,'RDATE_3':'RAMNT_24'].columns)

In [19]:
#drop variables on the extra dataframe that has the clustering from PVA (donors_pva_cluster)
data.drop(columns = donors_pva_cluster.columns, inplace = True)

In [21]:
#note -> 'NUMCHLD' : int, altough it cannot be converted due to NaNs (float)!
data = data.astype({'TCODE': object, 
                    'INCOME': object,
                    'WEALTH2': object,
                    'MSA': object,
                    'ADI': object,
                    'DMA': object,
                    'HPHONE_D': object})

#INCOME: from the Forums: 7 corresponds to the highest income group and 0 to the lowest one

#MSA has values 0, which is not a MSA code. After researching what does this code represent in the US census, we assume 
#those 0s are for the doners that do not live in a metropolitan statistical area (MSA), a region with at least one 
#urbanized area and a minimum population of 50 000 (Investopedia); so those people may live in towns or rural areas.

#ADI has values 0, which is not an ADI code. After researching what does this code represents, we assume 
#those 0s are for the doners that do not live in a radio or television market region in which that specific population 
#receives the same programming (https://www.insightsassociation.org/issues-policies/glossary/area-dominant-influence-adi);
#this is related to marketing, and those people may live in regions that are not assigned to a code (but this is not a 
#missing value!).

#DMA has values 0, which is not a DMA code. After researching what does this code represents, we assume 
#those 0s are for the doners that do not live in a geographic area in the United States in which local television viewing 
#is measured by Nielsen (https://www.nielsen.com/us/en/intl-campaigns/dma-maps/#:~:text=DMA%20(Designated%20Market%20Area)%20regions,geographic%20areas%20within%20their%20business.)
#again, this code is related to marketing, and those people may live in regions that are not assigned to a code (but this 
#is not a missing value!).

#HPHONE_D is binary (0 or 1)

In [22]:
#dates as string, now as datetimes
#note -> errors='coerce' as in the vast majority of records (if not always) the errors on the to_datetime function are
#rased because the string in the column is empty, thus there isn't a date there; this leads to an error, and with this
#argument definition, the invalid parsing will be set as NaT (Not a Time), which is what we intend (missing values stay
#missing)
data['ODATEDW'] = pd.to_datetime(data['ODATEDW'])
data['DOB'] = pd.to_datetime(data['DOB'], errors='coerce')
#data.loc[:, 'ADATE_2':'ADATE_24'] = data.loc[:, 'ADATE_2':'ADATE_24'].apply(pd.to_datetime, errors='coerce') #from ADATE_2 until ADATE_24
data['MAXADATE'] = pd.to_datetime(data['MAXADATE'])
#data.loc[:, 'RDATE_3':'RDATE_24'] = data.loc[:, 'RDATE_3':'RDATE_24'].apply(pd.to_datetime, errors='coerce') #from RDATE_3 until RDATE_24
data['MINRDATE'] = pd.to_datetime(data['MINRDATE'])
data['MAXRDATE'] = pd.to_datetime(data['MAXRDATE'])
data['LASTDATE'] = pd.to_datetime(data['LASTDATE'])
data['FISTDATE'] = pd.to_datetime(data['FISTDATE'], errors='coerce')
data['NEXTDATE'] = pd.to_datetime(data['NEXTDATE'], errors='coerce')

In [23]:
#to remove the hyphen from the end of the ZIP codes (US zip codes are not supposed to have hyphens, but some do!)
data['ZIP'] = data['ZIP'].map(lambda x: x.replace('-', ''))

#now, the replace: on some vars. swap a blank space for a NaN, on binaries swap the letters for '0' and '1', etc
data.replace({'OSOURCE' : {' ' : np.nan},
                'MAILCODE' : {' ' : '0', 'B' : '1'},
                'PVASTATE' : {' ' : 'N'}, #N = state is not served by any organization
                'RECINHSE' : {' ' : '0', 'X' : '1'},
                'RECP3' : {' ' : '0', 'X' : '1'},
                'RECPGVG': {' ' : '0', 'X' : '1'},
                'RECSWEEP': {' ' : '0', 'X' : '1'},
                'HOMEOWNR' : {' ' : '0', 'H' : '1', 'U' : '0'}, #we assume the blank space on this variable says that it is unknown wether the donor has or not a home (so, we joined it with the 0-Unkwown)
                'CHILD03' : {' ' : 'N'}, #the ' ' (blank) will be replaced by 'N' (N = None), as we assume the blank space in this variable means the donor has no 
                'CHILD07' : {' ' : 'N'}, #children in that specific range of ages
                'CHILD12': {' ' : 'N'},  #note: more than 90 000 records have None, on each of these 4 variables
                'CHILD18': {' ' : 'N'},
                'NUMCHLD': {np.nan : 0}, #assuming NaN is zero, bc there is no zero on this variable!?
                'GENDER' : {' ' : 'U', 'A' : 'U', 'C' : 'U'}, #Incoherence (Belo!) -> nem que se fale só no relatório!
                                                             #values 'A' (2 of them) & 'C' (2) are not described on the metadata, most probably those are errors
                                                             #we assume the blank spaces, As and Cs can be assumed to be Unkwown
                'SOLP3' : {' ' : 'Default'},
                'SOLIH' : {' ' : 'Default'}, #feature engineering: create a binary with -> 0 (can't be mailed), 1 (can be mailed)
                'MAJOR' : {' ' : '0', 'X' : '1'},
                'GEOCODE2' : {' ' : np.nan}}, inplace = True)

#assuming Y = Yes and N = No, on all these vars
data.loc[:, 'COLLECT1':'PLATES'] = data.loc[:, 'COLLECT1':'PLATES'].replace({'Y' : '1', ' ' : '0'}) #from COLLECT1 to PLATES

In [39]:
#after the previous cell, we can put NUMCHLD as int:
data = data.astype({'NUMCHLD': int})

data['NUMCHLD'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7])

In [26]:
#PROBLEM on HHP1 and HHP2: "Median Person Per Household" and "Average Person Per Household" but the values are bery high
#if we interpret this as the median/average number of people living in a household of the neighborhood, then it should
#have values between 1, 2 or 3. Not 100-700. (Incoherence - Belo?)



#perguntar ao professor!!
#decisão final: (nota: ainda há alguns valores iguais a 0)
data['HHP1'] = data['HHP1'] / 100
data['HHP2'] = data['HHP2'] / 100

In [27]:
#RHP1 to RHP4 are kinda weird (Housing Unit??)



#perguntar ao professor: média/mediana das pessoas ser tão alto (50?); ou a descrição da variável não está correta?
#decisão final: we assume this values were multiplied by 10 to avoid storing floats (floats make up more space on data
#files), so we divided this columns by 10, for the values to make more "sense"
data['RHP1'] = data['RHP1'] / 10
data['RHP2'] = data['RHP2'] / 10
data['RHP3'] = data['RHP3'] / 10
data['RHP4'] = data['RHP4'] / 10

In [28]:
#EC1: "Median Years of School Completed by Adults 25+" has minimum 89 and maximum 170... are the values wrong?

#HC1: "Percent Median Length of Residence" is percent and median at the same time? And has values of 0 length! Is it the 
#median time someone has been living in their current home, in years? Very ambiguous:
#HC2: this one has a less ambiguous description but it still says "Percent Median" so is it a percentage or a median? 
#it is confusing


#perguntar ao professor: EC1 (mediana de 170 anos a estudar?):
#decisão final: divided by 10, because 8.9 (min) and 17.0 (max) are values that make more sense
#we assume this values were multiplied by 10 to avoid storing floats (floats make up more space on data
#files), so we divided this columns by 10, for the values to make more "sense"
data['EC1'] = data['EC1'] / 10
#HC1 e HC2 -> we assume this is a median, the "percent" is probably a typo on the metadata descriptions

After the Data Treatment:

In [29]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,RECINHSE,RECP3,...,MAXRAMNT,MAXRDATE,LASTGIFT,LASTDATE,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,HPHONE_D,GEOCODE2
CONTROLN,,,,,,,,,,,,,,,,,,,,,
95515,2009-01-01,GRI,0,IL,61081,0,N,1957-12-01,0,0,...,12.0,2014-02-01,10.0,2015-12-01,2009-11-01,2010-03-01,4.0,7.741935,0,C
148535,2014-01-01,BOA,1,CA,91326,0,N,1972-02-01,0,0,...,25.0,2015-12-01,25.0,2015-12-01,2013-10-01,2015-04-01,18.0,15.666667,0,A
15078,2010-01-01,AMH,1,NC,27017,0,N,NaT,0,0,...,16.0,2012-07-01,5.0,2015-12-01,2010-01-01,2011-01-01,12.0,7.481481,1,C
172556,2007-01-01,BRY,0,CA,95953,0,N,1948-01-01,0,0,...,11.0,2014-11-01,10.0,2015-12-01,2007-02-01,2007-11-01,9.0,6.812500,1,C
7112,2006-01-01,NaN,0,FL,33176,0,N,1940-01-01,1,1,...,15.0,2016-01-01,15.0,2016-01-01,1999-03-01,2000-05-01,14.0,6.864865,1,A

In [30]:
data.info(max_cols=370)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95412 entries, 95515 to 185114
Data columns (total 370 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ODATEDW   95412 non-null  datetime64[ns]
 1   OSOURCE   94484 non-null  object
 2   TCODE     95412 non-null  object
 3   STATE     95412 non-null  object
 4   ZIP       95412 non-null  object
 5   MAILCODE  95412 non-null  object
 6   PVASTATE  95412 non-null  object
 7   DOB       71529 non-null  datetime64[ns]
 8   RECINHSE  95412 non-null  object
 9   RECP3     95412 non-null  object
 10  RECPGVG   95412 non-null  object
 11  RECSWEEP  95412 non-null  object
 12  HOMEOWNR  95412 non-null  object
 13  CHILD03   95412 non-null  object
 14  CHILD07   95412 non-null  object
 15  CHILD12   95412 non-null  object
 16  CHILD18   95412 non-null  object
 17  NUMCHLD   95412 non-null  int32
 18  INCOME    74126 non-null  object
 19  GENDER    95412 non-null  object
 20  HIT       95412 non-null  int64
 21  MBCRAFT   42558 non-null  float64
 22  MBGARDEN  42558 non-null  float64
 23  MBBOOKS   42558 non-null  float64
 24  MBCOLECT  42498 non-null  float64
 25  MAGFAML   42558 non-null  float64
 26  MAGFEM    42558 non-null  float64
 27  MAGMALE   42558 non-null  float64
 28  PUBGARDN  42558 non-null  float64
 29  PUBCULIN  42558 non-null  float64
 30  PUBHLTH   42558 non-null  float64
 31  PUBDOITY  42558 non-null  float64
 32  PUBNEWFN  42558 non-null  float64
 33  PUBPHOTO  42558 non-null  float64
 34  PUBOPP    42558 non-null  float64
 35  MALEMILI  95412 non-null  int64
 36  MALEVET   95412 non-null  int64
 37  VIETVETS  95412 non-null  int64
 38  WWIIVETS  95412 non-null  int64
 39  LOCALGOV  95412 non-null  int64
 40  STATEGOV  95412 non-null  int64
 41  FEDGOV    95412 non-null  int64
 42  SOLP3     95412 non-null  object
 43  SOLIH     95412 non-null  object
 44  MAJOR     95412 non-null  object
 45  WEALTH2   51589 non-null  object
 46  COLLECT1  95412 non-null  object
 47  VETERANS  95412 non-null  object
 48  BIBLE     95412 non-null  object
 49  CATLG     95412 non-null  object
 50  HOMEE     95412 non-null  object
 51  PETS      95412 non-null  object
 52  CDPLAY    95412 non-null  object
 53  STEREO    95412 non-null  object
 54  PCOWNERS  95412 non-null  object
 55  PHOTO     95412 non-null  object
 56  CRAFTS    95412 non-null  object
 57  FISHER    95412 non-null  object
 58  GARDENIN  95412 non-null  object
 59  BOATS     95412 non-null  object
 60  WALKER    95412 non-null  object
 61  KIDSTUFF  95412 non-null  object
 62  CARDS     95412 non-null  object
 63  PLATES    95412 non-null  object
 64  POP901    95412 non-null  int64
 65  POP902    95412 non-null  int64
 66  POP903    95412 non-null  int64
 67  POP90C1   95412 non-null  int64
 68  POP90C2   95412 non-null  int64
 69  POP90C3   95412 non-null  int64
 70  POP90C4   95412 non-null  int64
 71  POP90C5   95412 non-null  int64
 72  ETH1      95412 non-null  int64
 73  ETH2      95412 non-null  int64
 74  ETH3      95412 non-null  int64
 75  ETH4      95412 non-null  int64
 76  ETH5      95412 non-null  int64
 77  ETH6      95412 non-null  int64
 78  ETH7      95412 non-null  int64
 79  ETH8      95412 non-null  int64
 80  ETH9      95412 non-null  int64
 81  ETH10     95412 non-null  int64
 82  ETH11     95412 non-null  int64
 83  ETH12     95412 non-null  int64
 84  ETH13     95412 non-null  int64
 85  ETH14     95412 non-null  int64
 86  ETH15     95412 non-null  int64
 87  ETH16     95412 non-null  int64
 88  AGE901    95412 non-null  int64
 89  AGE902    95412 non-null  int64
 90  AGE903    95412 non-null  int64
 91  AGE904    95412 non-null  int64
 92  AGE905    95412 non-null  int64
 93  AGE906    95412 non-null  int64
 94  AGE907    95412 non-null  int64
 95  CHIL1     95412 non-null  int64
 96  CHIL2     95412 non-null  int64
 97  CHIL3     95412 non-null  int64
 98  AGEC1     95412 non-null  int64
 99  AGEC2     95412 non-null  int64
 100 AGEC3     95412 non-null  int64
 101 AGEC4     95412 non-null  int64
 102 AGEC5     95412 non-null  int64
 103 AGEC6     95412 non-null  int64
 104 AGEC7     95412 non-null  int64
 105 CHILC1    95412 non-null  int64
 106 CHILC2    95412 non-null  int64
 107 CHILC3    95412 non-null  int64
 108 CHILC4    95412 non-null  int64
 109 CHILC5    95412 non-null  int64
 110 HHAGE1    95412 non-null  int64
 111 HHAGE2    95412 non-null  int64
 112 HHAGE3    95412 non-null  int64
 113 HHN1      95412 non-null  int64
 114 HHN2      95412 non-null  int64
 115 HHN3      95412 non-null  int64
 116 HHN4      95412 non-null  int64
 117 HHN5      95412 non-null  int64
 118 HHN6      95412 non-null  int64
 119 MARR1     95412 non-null  int64
 120 MARR2     95412 non-null  int64
 121 MARR3     95412 non-null  int64
 122 MARR4     95412 non-null  int64
 123 HHP1      95412 non-null  float64
 124 HHP2      95412 non-null  float64
 125 DW1       95412 non-null  int64
 126 DW2       95412 non-null  int64
 127 DW3       95412 non-null  int64
 128 DW4       95412 non-null  int64
 129 DW5       95412 non-null  int64
 130 DW6       95412 non-null  int64
 131 DW7       95412 non-null  int64
 132 DW8       95412 non-null  int64
 133 DW9       95412 non-null  int64
 134 HV1       95412 non-null  int64
 135 HV2       95412 non-null  int64
 136 HV3       95412 non-null  int64
 137 HV4       95412 non-null  int64
 138 HU1       95412 non-null  int64
 139 HU2       95412 non-null  int64
 140 HU3       95412 non-null  int64
 141 HU4       95412 non-null  int64
 142 HU5       95412 non-null  int64
 143 HHD1      95412 non-null  int64
 144 HHD2      95412 non-null  int64
 145 HHD3      95412 non-null  int64
 146 HHD4      95412 non-null  int64
 147 HHD5      95412 non-null  int64
 148 HHD6      95412 non-null  int64
 149 HHD7      95412 non-null  int64
 150 HHD8      95412 non-null  int64
 151 HHD9      95412 non-null  int64
 152 HHD10     95412 non-null  int64
 153 HHD11     95412 non-null  int64
 154 HHD12     95412 non-null  int64
 155 ETHC1     95412 non-null  int64
 156 ETHC2     95412 non-null  int64
 157 ETHC3     95412 non-null  int64
 158 ETHC4     95412 non-null  int64
 159 ETHC5     95412 non-null  int64
 160 ETHC6     95412 non-null  int64
 161 HVP1      95412 non-null  int64
 162 HVP2      95412 non-null  int64
 163 HVP3      95412 non-null  int64
 164 HVP4      95412 non-null  int64
 165 HVP5      95412 non-null  int64
 166 HVP6      95412 non-null  int64
 167 HUR1      95412 non-null  int64
 168 HUR2      95412 non-null  int64
 169 RHP1      95412 non-null  float64
 170 RHP2      95412 non-null  float64
 171 RHP3      95412 non-null  float64
 172 RHP4      95412 non-null  float64
 173 HUPA1     95412 non-null  int64
 174 HUPA2     95412 non-null  int64
 175 HUPA3     95412 non-null  int64
 176 HUPA4     95412 non-null  int64
 177 HUPA5     95412 non-null  int64
 178 HUPA6     95412 non-null  int64
 179 HUPA7     95412 non-null  int64
 180 RP1       95412 non-null  int64
 181 RP2       95412 non-null  int64
 182 RP3       95412 non-null  int64
 183 RP4       95412 non-null  int64
 184 MSA       95280 non-null  object
 185 ADI       95280 non-null  object
 186 DMA       95280 non-null  object
 187 IC1       95412 non-null  int64
 188 IC2       95412 non-null  int64
 189 IC3       95412 non-null  int64
 190 IC4       95412 non-null  int64
 191 IC5       95412 non-null  int64
 192 IC6       95412 non-null  int64
 193 IC7       95412 non-null  int64
 194 IC8       95412 non-null  int64
 195 IC9       95412 non-null  int64
 196 IC10      95412 non-null  int64
 197 IC11      95412 non-null  int64
 198 IC12      95412 non-null  int64
 199 IC13      95412 non-null  int64
 200 IC14      95412 non-null  int64
 201 IC15      95412 non-null  int64
 202 IC16      95412 non-null  int64
 203 IC17      95412 non-null  int64
 204 IC18      95412 non-null  int64
 205 IC19      95412 non-null  int64
 206 IC20      95412 non-null  int64
 207 IC21      95412 non-null  int64
 208 IC22      95412 non-null  int64
 209 IC23      95412 non-null  int64
 210 HHAS1     95412 non-null  int64
 211 HHAS2     95412 non-null  int64
 212 HHAS3     95412 non-null  int64
 213 HHAS4     95412 non-null  int64
 214 MC1       95412 non-null  int64
 215 MC2       95412 non-null  int64
 216 MC3       95412 non-null  int64
 217 TPE1      95412 non-null  int64
 218 TPE2      95412 non-null  int64
 219 TPE3      95412 non-null  int64
 220 TPE4      95412 non-null  int64
 221 TPE5      95412 non-null  int64
 222 TPE6      95412 non-null  int64
 223 TPE7      95412 non-null  int64
 224 TPE8      95412 non-null  int64
 225 TPE9      95412 non-null  int64
 226 PEC1      95412 non-null  int64
 227 PEC2      95412 non-null  int64
 228 TPE10     95412 non-null  int64
 229 TPE11     95412 non-null  int64
 230 TPE12     95412 non-null  int64
 231 TPE13     95412 non-null  int64
 232 LFC1      95412 non-null  int64
 233 LFC2      95412 non-null  int64
 234 LFC3      95412 non-null  int64
 235 LFC4      95412 non-null  int64
 236 LFC5      95412 non-null  int64
 237 LFC6      95412 non-null  int64
 238 LFC7      95412 non-null  int64
 239 LFC8      95412 non-null  int64
 240 LFC9      95412 non-null  int64
 241 LFC10     95412 non-null  int64
 242 OCC1      95412 non-null  int64
 243 OCC2      95412 non-null  int64
 244 OCC3      95412 non-null  int64
 245 OCC4      95412 non-null  int64
 246 OCC5      95412 non-null  int64
 247 OCC6      95412 non-null  int64
 248 OCC7      95412 non-null  int64
 249 OCC8      95412 non-null  int64
 250 OCC9      95412 non-null  int64
 251 OCC10     95412 non-null  int64
 252 OCC11     95412 non-null  int64
 253 OCC12     95412 non-null  int64
 254 OCC13     95412 non-null  int64
 255 EIC1      95412 non-null  int64
 256 EIC2      95412 non-null  int64
 257 EIC3      95412 non-null  int64
 258 EIC4      95412 non-null  int64
 259 EIC5      95412 non-null  int64
 260 EIC6      95412 non-null  int64
 261 EIC7      95412 non-null  int64
 262 EIC8      95412 non-null  int64
 263 EIC9      95412 non-null  int64
 264 EIC10     95412 non-null  int64
 265 EIC11     95412 non-null  int64
 266 EIC12     95412 non-null  int64
 267 EIC13     95412 non-null  int64
 268 EIC14     95412 non-null  int64
 269 EIC15     95412 non-null  int64
 270 EIC16     95412 non-null  int64
 271 OEDC1     95412 non-null  int64
 272 OEDC2     95412 non-null  int64
 273 OEDC3     95412 non-null  int64
 274 OEDC4     95412 non-null  int64
 275 OEDC5     95412 non-null  int64
 276 OEDC6     95412 non-null  int64
 277 OEDC7     95412 non-null  int64
 278 EC1       95412 non-null  float64
 279 EC2       95412 non-null  int64
 280 EC3       95412 non-null  int64
 281 EC4       95412 non-null  int64
 282 EC5       95412 non-null  int64
 283 EC6       95412 non-null  int64
 284 EC7       95412 non-null  int64
 285 EC8       95412 non-null  int64
 286 SEC1      95412 non-null  int64
 287 SEC2      95412 non-null  int64
 288 SEC3      95412 non-null  int64
 289 SEC4      95412 non-null  int64
 290 SEC5      95412 non-null  int64
 291 AFC1      95412 non-null  int64
 292 AFC2      95412 non-null  int64
 293 AFC3      95412 non-null  int64
 294 AFC4      95412 non-null  int64
 295 AFC5      95412 non-null  int64
 296 AFC6      95412 non-null  int64
 297 VC1       95412 non-null  int64
 298 VC2       95412 non-null  int64
 299 VC3       95412 non-null  int64
 300 VC4       95412 non-null  int64
 301 ANC1      95412 non-null  int64
 302 ANC2      95412 non-null  int64
 303 ANC3      95412 non-null  int64
 304 ANC4      95412 non-null  int64
 305 ANC5      95412 non-null  int64
 306 ANC6      95412 non-null  int64
 307 ANC7      95412 non-null  int64
 308 ANC8      95412 non-null  int64
 309 ANC9      95412 non-null  int64
 310 ANC10     95412 non-null  int64
 311 ANC11     95412 non-null  int64
 312 ANC12     95412 non-null  int64
 313 ANC13     95412 non-null  int64
 314 ANC14     95412 non-null  int64
 315 ANC15     95412 non-null  int64
 316 POBC1     95412 non-null  int64
 317 POBC2     95412 non-null  int64
 318 LSC1      95412 non-null  int64
 319 LSC2      95412 non-null  int64
 320 LSC3      95412 non-null  int64
 321 LSC4      95412 non-null  int64
 322 VOC1      95412 non-null  int64
 323 VOC2      95412 non-null  int64
 324 VOC3      95412 non-null  int64
 325 HC1       95412 non-null  int64
 326 HC2       95412 non-null  int64
 327 HC3       95412 non-null  int64
 328 HC4       95412 non-null  int64
 329 HC5       95412 non-null  int64
 330 HC6       95412 non-null  int64
 331 HC7       95412 non-null  int64
 332 HC8       95412 non-null  int64
 333 HC9       95412 non-null  int64
 334 HC10      95412 non-null  int64
 335 HC11      95412 non-null  int64
 336 HC12      95412 non-null  int64
 337 HC13      95412 non-null  int64
 338 HC14      95412 non-null  int64
 339 HC15      95412 non-null  int64
 340 HC16      95412 non-null  int64
 341 HC17      95412 non-null  int64
 342 HC18      95412 non-null  int64
 343 HC19      95412 non-null  int64
 344 HC20      95412 non-null  int64
 345 HC21      95412 non-null  int64
 346 MHUC1     95412 non-null  int64
 347 MHUC2     95412 non-null  int64
 348 AC1       95412 non-null  int64
 349 AC2       95412 non-null  int64
 350 CARDPROM  95412 non-null  int64
 351 MAXADATE  95412 non-null  datetime64[ns]
 352 NUMPROM   95412 non-null  int64
 353 CARDPM12  95412 non-null  int64
 354 NUMPRM12  95412 non-null  int64
 355 RAMNTALL  95412 non-null  float64
 356 NGIFTALL  95412 non-null  int64
 357 CARDGIFT  95412 non-null  int64
 358 MINRAMNT  95412 non-null  float64
 359 MINRDATE  95412 non-null  datetime64[ns]
 360 MAXRAMNT  95412 non-null  float64
 361 MAXRDATE  95412 non-null  datetime64[ns]
 362 LASTGIFT  95412 non-null  float64
 363 LASTDATE  95412 non-null  datetime64[ns]
 364 FISTDATE  95410 non-null  datetime64[ns]
 365 NEXTDATE  85439 non-null  datetime64[ns]
 366 TIMELAG   85439 non-null  float64
 367 AVGGIFT   95412 non-null  float64
 368 HPHONE_D  95412 non-null  object
 369 GEOCODE2  95093 non-null  object
dtypes: datetime64[ns](8), float64(27), int32(1), int64(290), object(44)
memory usage: 272.2+ MB

In [31]:
#'HIT' is good to go

In [32]:
#from MBCRAFT to PUBOPP, it all looks good; but it has many missing values!

In [33]:
#from MALEMILI to FEDGOV there are no MVs and everything is fine (check for incoherences: percentages below 0 or 
#above 100?)

In [34]:
#from POP901 until the end of this set of variables, we assume 0s in the first three (Number of Persons, Families and 
#Households) represent people that live in rural areas and small towns, with no one living near them (in the neighborhood)

#gets resolved when we do data = data[data['AGE902'] != 0] (Coherence checks!)

In [35]:
#from POP901 until ETH16, everything looks fine

In [26]:
#PROBLEM on HV1 & HV2: "Median Home Value in hundreds" has values of 0, and then, the second lowest, 75 (which means 7500) 
#the values of 0 are 318 records - same on HV2



#perguntar ao professor: nestas variáveis, assumimos que os 0s são missings, incoerências, ou representam casas alugadas.
#decisão final:
#assumption -> there were homes with very low market values, so when the values where divided by 100 to get the value for 
#the column, it was so close to 0 that the int was 0

In [27]:
#HV3 and HV4, related to rents, also have values 0 but that can mean the people are not paying any rent (maybe they bought
#the house already, or maybe they live with family members and are not paying, etc)

In [28]:
#IC1-IC5: values 0 -> don't declare anything to the state?

In [29]:
#data['TPE10'] has values of 0: people that work at home or live very near to the company/office/...

In [30]:
#from RAMNT_3 until RAMNT_24 -> explicado na parte do Tomás

# Data Visualization

In [ ]:
# Define metric and non 
# RETIRAR DATAS

non_metric_vars = data.loc[:,(data.columns=="id") | (np.array(data.dtypes=="object"))]
metric_vars = data.loc[:,(~data.columns.isin(non_metric_vars)) | (np.array(data.dtypes !="datetime"))]

In [ ]:
# Metric Variables Histograms 
sb.set()

# Create individual axes 
fig, axes = plt.subplots(ceil(len(metric_var)/2), 2, figsize=(20, 900))
plt.subplots_adjust(hspace = 0.18)

# Plot data
for ax, feat in zip(axes.flatten(), metric_var):
    ax.hist(data[feat])
    ax.set_title(feat, y = -0.16)
    
plt.show()

In [ ]:
# Non Metric Variables Histograms
sb.set()

# Prepare figure. Create individual axes where each histogram will be placed
fig, axes = plt.subplots(ceil(len(non_metric_var) / 2), 1, figsize=(20, 100))
plt.subplots_adjust(hspace = 0.18)

# Plot data
for ax, feat in zip(axes.flatten(), non_metric_var):
    sb.countplot(x=data[feat],  ax=ax)

plt.show()

In [ ]:
# Metric Variables Boxplots
sb.set(style="whitegrid")

#Prepare figure layout
fig, axes = plt.subplots(len(metric_vars), 1, figsize=(15,8))

# Draw the boxplots
for i in zip(axes, metric_vars):
    sb.boxplot(x="variable", y="value", data=data.loc[data["variable"]==i[1]], ax=i[0])
    i[0].set_xlabel("")
    i[0].set_ylabel("")

# Finalize the plot
plt.suptitle("Metric variables' box plots", fontsize=25)
sb.despine(bottom=True)
plt.show()

In [ ]:
# Metric Variables Correlation Matrix
sb.set(style="white")

# Compute the correlation matrix
corr = metric_vars.corr() #Getting correlation of numerical variables

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool) #Return an array of zeros (Falses) with the same shape and type as a given array
mask[np.triu_indices_from(mask)] = True #The upper-triangle array is now composed by True values

# Set up the matplotlib figure
fig, ax = plt.subplots(figsize=(12, 8))

# Generate a custom diverging colormap
cmap = sb.diverging_palette(220, 10, as_cmap=True) #Make a diverging palette between two HUSL colors. Return a matplotlib colormap object.

# Draw the heatmap with the mask and correct aspect ratio
sb.heatmap(corr, mask=mask, cmap=cmap, center=0, square=True, linewidths=.5, ax=ax)

# Layout
plt.subplots_adjust(top=0.95)
plt.suptitle("Correlation matrix", fontsize=25)
plt.yticks(rotation=0)

# Fixing the bug of partially cut-off bottom and top cells
b, t = plt.ylim() # discover the values for bottom and top
b += 0.5 # Add 0.5 to the bottom
t -= 0.5 # Subtract 0.5 from the top
plt.ylim(b, t) # update the ylim(bottom, top) values
plt.show()

In [ ]:
# Metric Variables Correlation Matrix
def color_red_or_green(val):
    if val < -0.7:
        color = 'background-color: red'
    elif val > 0.7:
        color = 'background-color: green'
    else:
        color = ''
    return color

# Interpreting each Principal Component
correlations = data[metric_var].corr()
correlations.style.applymap(color_red_or_green)

## Creation of new variables (before Feature Engineering)

In [1]:
# we need it for the outliers - Dates in days or years, ...

In [52]:
from datetime import datetime
import math

In [88]:
data['ODATEDW_days'] = (datetime(2020, 1, 1) - data['ODATEDW']).dt.days

#AGE needs to be int after being imputed
data['AGE'] = ((datetime(2020, 1, 1) - data['DOB']).dt.days / 365).map(lambda x: math.floor(x) if math.isnan(x) == False else x)

#from ADATE_2 until ADATE_24 -> these will be droped

data['MAXADATE_days'] = (datetime(2020, 1, 1) - data['MAXADATE']).dt.days

#from RDATE_3 until RDATE_24 -> these will be droped

data['MINRDATE_days'] = (datetime(2020, 1, 1) - data['MINRDATE']).dt.days

data['MAXRDATE_days'] = (datetime(2020, 1, 1) - data['MAXRDATE']).dt.days

data['LASTDATE_days'] = (datetime(2020, 1, 1) - data['LASTDATE']).dt.days

data['FISTDATE_days'] = (datetime(2020, 1, 1) - data['FISTDATE']).dt.days

data['NEXTDATE_days'] = (datetime(2020, 1, 1) - data['NEXTDATE']).dt.days

## Coherence Check

In [41]:
import pandas as pd
import numpy as np
import datetime
import os

In [42]:
#pd.set_option('display.max_columns', None)
path = os.path.join('..', 'data', 'donors.csv')

donors = pd.read_csv(path, sep = ',')

pd.set_option('display.max_columns', None)

D:\Programas\Anaconda\envs\dmi\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [43]:
donors.columns.tolist()

['Unnamed: 0',
 'ODATEDW',
 'OSOURCE',
 'TCODE',
 'STATE',
 'ZIP',
 'MAILCODE',
 'PVASTATE',
 'DOB',
 'NOEXCH',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'MDMAUD',
 'DOMAIN',
 'HOMEOWNR',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'NUMCHLD',
 'INCOME',
 'GENDER',
 'WEALTH1',
 'HIT',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'DATASRCE',
 'MALEMILI',
 'MALEVET',
 'VIETVETS',
 'WWIIVETS',
 'LOCALGOV',
 'STATEGOV',
 'FEDGOV',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'WEALTH2',
 'GEOCODE',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'PETS',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES',
 'LIFESRC',
 'PEPSTRFL',
 'POP901',
 'POP902',
 'POP903',
 'POP90C1',
 'POP90C2',
 'POP90C3',
 'POP90C4',
 'POP90C5',
 'ETH1',
 'ETH2',
 'ETH3',
 'ETH4',
 'ETH5',
 'ETH6',
 'ETH7',
 'ETH8',
 'ETH9',
 'ETH10',
 'ETH11',
 'ETH12',
 'ETH13',
 'ETH14',
 'ETH15',
 'ETH16',
 'AGE901',
 'AGE902',
 'AGE903',
 'AGE904',
 'AGE905',
 'AGE906',
 'AGE907',
 'CHIL1',
 'CHIL2',
 'CHIL3',
 'AGEC1',
 'AGEC2',
 'AGEC3',
 'AGEC4',
 'AGEC5',
 'AGEC6',
 'AGEC7',
 'CHILC1',
 'CHILC2',
 'CHILC3',
 'CHILC4',
 'CHILC5',
 'HHAGE1',
 'HHAGE2',
 'HHAGE3',
 'HHN1',
 'HHN2',
 'HHN3',
 'HHN4',
 'HHN5',
 'HHN6',
 'MARR1',
 'MARR2',
 'MARR3',
 'MARR4',
 'HHP1',
 'HHP2',
 'DW1',
 'DW2',
 'DW3',
 'DW4',
 'DW5',
 'DW6',
 'DW7',
 'DW8',
 'DW9',
 'HV1',
 'HV2',
 'HV3',
 'HV4',
 'HU1',
 'HU2',
 'HU3',
 'HU4',
 'HU5',
 'HHD1',
 'HHD2',
 'HHD3',
 'HHD4',
 'HHD5',
 'HHD6',
 'HHD7',
 'HHD8',
 'HHD9',
 'HHD10',
 'HHD11',
 'HHD12',
 'ETHC1',
 'ETHC2',
 'ETHC3',
 'ETHC4',
 'ETHC5',
 'ETHC6',
 'HVP1',
 'HVP2',
 'HVP3',
 'HVP4',
 'HVP5',
 'HVP6',
 'HUR1',
 'HUR2',
 'RHP1',
 'RHP2',
 'RHP3',
 'RHP4',
 'HUPA1',
 'HUPA2',
 'HUPA3',
 'HUPA4',
 'HUPA5',
 'HUPA6',
 'HUPA7',
 'RP1',
 'RP2',
 'RP3',
 'RP4',
 'MSA',
 'ADI',
 'DMA',
 'IC1',
 'IC2',
 'IC3',
 'IC4',
 'IC5',
 'IC6',
 'IC7',
 'IC8',
 'IC9',
 'IC10',
 'IC11',
 'IC12',
 'IC13',
 'IC14',
 'IC15',
 'IC16',
 'IC17',
 'IC18',
 'IC19',
 'IC20',
 'IC21',
 'IC22',
 'IC23',
 'HHAS1',
 'HHAS2',
 'HHAS3',
 'HHAS4',
 'MC1',
 'MC2',
 'MC3',
 'TPE1',
 'TPE2',
 'TPE3',
 'TPE4',
 'TPE5',
 'TPE6',
 'TPE7',
 'TPE8',
 'TPE9',
 'PEC1',
 'PEC2',
 'TPE10',
 'TPE11',
 'TPE12',
 'TPE13',
 'LFC1',
 'LFC2',
 'LFC3',
 'LFC4',
 'LFC5',
 'LFC6',
 'LFC7',
 'LFC8',
 'LFC9',
 'LFC10',
 'OCC1',
 'OCC2',
 'OCC3',
 'OCC4',
 'OCC5',
 'OCC6',
 'OCC7',
 'OCC8',
 'OCC9',
 'OCC10',
 'OCC11',
 'OCC12',
 'OCC13',
 'EIC1',
 'EIC2',
 'EIC3',
 'EIC4',
 'EIC5',
 'EIC6',
 'EIC7',
 'EIC8',
 'EIC9',
 'EIC10',
 'EIC11',
 'EIC12',
 'EIC13',
 'EIC14',
 'EIC15',
 'EIC16',
 'OEDC1',
 'OEDC2',
 'OEDC3',
 'OEDC4',
 'OEDC5',
 'OEDC6',
 'OEDC7',
 'EC1',
 'EC2',
 'EC3',
 'EC4',
 'EC5',
 'EC6',
 'EC7',
 'EC8',
 'SEC1',
 'SEC2',
 'SEC3',
 'SEC4',
 'SEC5',
 'AFC1',
 'AFC2',
 'AFC3',
 'AFC4',
 'AFC5',
 'AFC6',
 'VC1',
 'VC2',
 'VC3',
 'VC4',
 'ANC1',
 'ANC2',
 'ANC3',
 'ANC4',
 'ANC5',
 'ANC6',
 'ANC7',
 'ANC8',
 'ANC9',
 'ANC10',
 'ANC11',
 'ANC12',
 'ANC13',
 'ANC14',
 'ANC15',
 'POBC1',
 'POBC2',
 'LSC1',
 'LSC2',
 'LSC3',
 'LSC4',
 'VOC1',
 'VOC2',
 'VOC3',
 'HC1',
 'HC2',
 'HC3',
 'HC4',
 'HC5',
 'HC6',
 'HC7',
 'HC8',
 'HC9',
 'HC10',
 'HC11',
 'HC12',
 'HC13',
 'HC14',
 'HC15',
 'HC16',
 'HC17',
 'HC18',
 'HC19',
 'HC20',
 'HC21',
 'MHUC1',
 'MHUC2',
 'AC1',
 'AC2',
 'ADATE_2',
 'ADATE_3',
 'ADATE_4',
 'ADATE_5',
 'ADATE_6',
 'ADATE_7',
 'ADATE_8',
 'ADATE_9',
 'ADATE_10',
 'ADATE_11',
 'ADATE_12',
 'ADATE_13',
 'ADATE_14',
 'ADATE_15',
 'ADATE_16',
 'ADATE_17',
 'ADATE_18',
 'ADATE_19',
 'ADATE_20',
 'ADATE_21',
 'ADATE_22',
 'ADATE_23',
 'ADATE_24',
 'RFA_2',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24',
 'CARDPROM',
 'MAXADATE',
 'NUMPROM',
 'CARDPM12',
 'NUMPRM12',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_8',
 'RDATE_9',
 'RDATE_10',
 'RDATE_11',
 'RDATE_12',
 'RDATE_13',
 'RDATE_14',
 'RDATE_15',
 'RDATE_16',
 'RDATE_17',
 'RDATE_18',
 'RDATE_19',
 'RDATE_20',
 'RDATE_21',
 'RDATE_22',
 'RDATE_23',
 'RDATE_24',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_8',
 'RAMNT_9',
 'RAMNT_10',
 'RAMNT_11',
 'RAMNT_12',
 'RAMNT_13',
 'RAMNT_14',
 'RAMNT_15',
 'RAMNT_16',
 'RAMNT_17',
 'RAMNT_18',
 'RAMNT_19',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_22',
 'RAMNT_23',
 'RAMNT_24',
 'RAMNTALL',
 'NGIFTALL',
 'CARDGIFT',
 'MINRAMNT',
 'MINRDATE',
 'MAXRAMNT',
 'MAXRDATE',
 'LASTGIFT',
 'LASTDATE',
 'FISTDATE',
 'NEXTDATE',
 'TIMELAG',
 'AVGGIFT',
 'CONTROLN',
 'HPHONE_D',
 'RFA_2R',
 'RFA_2F',
 'RFA_2A',
 'MDMAUD_R',
 'MDMAUD_F',
 'MDMAUD_A',
 'GEOCODE2']

# start

In [44]:
#BELO - COHERENCE
#it has more than 50 states bc it includes US territories like the Virgin Islands, Northern Mariana Islands, Guam, etc
donors['STATE'].nunique()

57

In [45]:
#no donors after today's date
donors['ODATEDW'] = pd.to_datetime(donors['ODATEDW'])
(donors['ODATEDW'] > datetime.datetime.now()).sum()

0

In [46]:
donors['NOEXCH'].value_counts()
#drop this! (incoherent, bc the variable is not very relevant and it 
#is not consistent with the metadata's variables explanation -> explicar

#melhor no relatório)

0    61203
0    33882
1      195
1       90
X       35
         7
Name: NOEXCH, dtype: int64

In [47]:
donors['GENDER'].value_counts() 
# A and C are incoherent, we will assume as U: Unknown

F    51277
M    39094
      2957
U     1715
J      365
A        2
C        2
Name: GENDER, dtype: int64

In [48]:
print('< 0: \n', (donors.iloc[:, 41:47] < 0).sum())
print('> 100: \n', (donors.iloc[:, 41:47] > 100).sum())

#no incoherence

< 0:
 MALEMILI    0
MALEVET     0
VIETVETS    0
WWIIVETS    0
LOCALGOV    0
STATEGOV    0
dtype: int64
> 100:
 MALEMILI    0
MALEVET     0
VIETVETS    0
WWIIVETS    0
LOCALGOV    0
STATEGOV    0
dtype: int64

In [49]:
#PROBLEM on AGE902: "Median Age of Adults 18 or Older" but it had a value that was 0... actually, after analyzing the 
#subset of donors that had AGE902 equal to 0, we found out that the vast majority of them had also 0 in basically all
#socio-demographic variables. This leads tu belive the missing values on this columns may be represented by a 0 other than
#a Numpy NaN. Anyways, these records have incoherences, and for this reason, they should be removed (799 records!).

#They have donations... but they should be removed anyways.
#dps disto, o MSA, ADI e DMA deixam de ter missings!

#after removing this records other incoherences in other variables were also removed

data = data[data['AGE902'] != 0]

In [50]:
donors['AGE906'].min()

27

In [52]:
(donors.iloc[:, 75:358]).min()
#(donors.iloc[:, 75:358]).max()

## percentagens sem incoerencias (tudo entre 0-10), nao sei se precisamos incluir


#  Minimos:
#HHP1/2 == 0 doenst make sense
#HV1/2 a house with 0 value ??
#4/5 rent == 0 ?? 
#RPH's dont make sense to have avg of 0 rooms per housing unit 
#IC1:5 also doesnt make sense we have avg and medians of value 0
#TPE10/11 MEDIAN == 0 ??
#EC1 lowest values == 89 ?? doesnt make any sense 
#MHUC1/2 also minimum value of 0

#most of median minimum values == 0 doesnt make sense.. DROP?????


# Maximos:
# HHP1/2 == 650/700 how is that possible??
# RPH's value are too high 85/90/61/40
## EC1 -- 170 years of median, impossible
#MHUC1/2 max value 21/5 values are too low 


#I think most or all median values are incorrect. 
#Some are impossible and other are possible but dont make sense I a real world scenario
#for that I think they should be removed and use only the percentages for our analysis

POP903     0.0
POP90C1    0.0
POP90C2    0.0
POP90C3    0.0
POP90C4    0.0
          ...
HC20       0.0
HC21       0.0
MHUC1      0.0
MHUC2      0.0
AC1        0.0
Length: 283, dtype: float64

In [53]:
#PROBLEM on HV1: "Median Home Value in hundreds" has values of 0, and then, the second lowest, 75 (which means 7500)... 
#the values of 0 are incoherences!!? (Belo) (318 records - same on HV2)

In [54]:
#EC1: "Median Years of School Completed by Adults 25+" has minimum 89 and maximum 170... are the values wrong?

#HC1: "Percent Median Length of Residence" is percent and median at the same time? And has values of 0 length! Is it the 
#median time someone has been living in their current home, in years? Very ambiguous:
#HC2: this one has a less ambiguous description but it still says "Percent Median" so is it a percentage or a median? 
#it is confusing

In [55]:
donors['ODATEDW'].head()

0   2009-01-01
1   2014-01-01
2   2010-01-01
3   2007-01-01
4   2006-01-01
Name: ODATEDW, dtype: datetime64[ns]

In [87]:
#now the dates are datetime
donors['FISTDATE'] = pd.to_datetime(donors['FISTDATE'], errors='ignore')

#            FISTDATE:  Date of first gift 
#                cant be before 
#   ODATEDW: Origin Date. Date of donor's first gift to PVA

#                  RIGHT ?!!!!!!!!!!!!!????????????

(donors['FISTDATE'] < donors['ODATEDW']).sum()

## FISTDATE < ODATEDW substituir por ODATEDW - incoerencia

17445

In [57]:
donors['ODATEDW'] = pd.to_datetime(donors['ODATEDW'])
donors['DOB'] = pd.to_datetime(donors['DOB'], errors='coerce')
donors.iloc[:, 350:373] = donors.iloc[:, 350:373].apply(pd.to_datetime, errors='coerce') #from ADATE_2 until ADATE_24
donors['MAXADATE'] = pd.to_datetime(donors['MAXADATE'])
donors.iloc[:, 378:400] = donors.iloc[:, 378:400].apply(pd.to_datetime, errors='coerce') #from RDATE_3 until RDATE_24
donors['MINRDATE'] = pd.to_datetime(donors['MINRDATE'])
donors['MAXRDATE'] = pd.to_datetime(donors['MAXRDATE'])
donors['LASTDATE'] = pd.to_datetime(donors['LASTDATE'])
donors['FISTDATE'] = pd.to_datetime(donors['FISTDATE'], errors='coerce')
donors['NEXTDATE'] = pd.to_datetime(donors['NEXTDATE'], errors='coerce')

###### DOB incoherence

In [58]:
#DOB incoherence
#Assuming we are in 2020 we have donors with less than 18 years (we dont have nothing saying that they must be 18
#so we will keep the variables). What we are going to check is if they have children if they are less than 16

(donors.loc[:, 'DOB'] > datetime.datetime(2020, 1, 1)).sum()
#No DOB after 2020-1-1

0

In [59]:
donors.DOB.isnull().sum()
#24k MV's

23488

In [60]:
(donors.loc[:, 'DOB'] > datetime.datetime(2004, 12, 31)).sum()
#we have 424 donors with less than 16 years

424

In [68]:
donors.loc[(donors['DOB']> datetime.datetime(2004, 12, 31)) & (donors['NUMCHLD'] > 0), ['DOB', 'NUMCHLD', 'GENDER']]
#At least 24 children under 16 yo have 1 or more child... drop??

             DOB  NUMCHLD GENDER
6892  2010-09-01      1.0      M
7214  2010-09-01      1.0      F
10687 2007-03-01      3.0      M
11591 2010-02-01      1.0      M
19864 2010-03-01      4.0      F
25211 2010-09-01      1.0      M
25335 2010-08-01      2.0      M
25598 2010-05-01      1.0      M
37897 2010-09-01      1.0      F
40851 2010-06-01      1.0      F
44773 2010-01-01      2.0      F
48711 2010-01-01      1.0      F
49227 2010-07-01      1.0      M
52492 2010-02-01      1.0      M
57687 2013-09-01      2.0      M
63233 2010-01-01      1.0      M
73585 2010-08-01      1.0      M
76406 2009-12-01      3.0      F
84122 2006-11-01      2.0      M
85994 2010-01-01      1.0      F
89090 2005-05-01      3.0      M
89945 2010-09-01      1.0      M
92548 2010-01-01      3.0      F
93189 2013-10-01      1.0      M

##### NUMCHLD INCOHERENCE

In [62]:
donors['CHILD03'].unique()

array([' ', 'M', 'F', 'B'], dtype=object)

In [63]:
donors['CHILD07'].unique()

array([' ', 'M', 'B', 'F'], dtype=object)

In [64]:
donors['CHILD12'].unique()

array([' ', 'F', 'M', 'B'], dtype=object)

In [65]:
donors['CHILD18'].unique()

array([' ', 'M', 'F', 'B'], dtype=object)

In [66]:
#Assuming that when we have: ' ' the donors has no child

(donors.loc[(donors['CHILD03'] == ' ') & (donors['CHILD07'] == ' ') & (donors['CHILD12'] == ' ') & (donors['CHILD18'] == ' '),
           'NUMCHLD'])

0        NaN
2        NaN
3        NaN
4        1.0
5        NaN
        ...
95406    NaN
95407    NaN
95409    NaN
95410    NaN
95411    NaN
Name: NUMCHLD, Length: 88742, dtype: float64

In [67]:
donors['NUMCHLD'].isnull().sum()

82283

In [79]:
donors.replace({'OSOURCE' : {' ' : np.nan},
'MAILCODE' : {' ' : '0', 'B' : '1'},
'PVASTATE' : {' ' : 'N'}, #N = state is not served by any organization
'RECINHSE' : {' ' : '0', 'X' : '1'},
'RECP3' : {' ' : '0', 'X' : '1'},
'RECPGVG': {' ' : '0', 'X' : '1'},
'RECSWEEP': {' ' : '0', 'X' : '1'},
'HOMEOWNR' : {' ' : '0', 'H' : '1', 'U' : '0'}, #we assume the blank space on this variable says that it is unknown wether the donor has or not a home (so, we joined it with the 0-Unkwown)
'CHILD03' : {' ' : 'N'}, #the ' ' (blank) will be replaced by 'N' (N = None), as we assume the blank space in this variable means the donor has no
'CHILD07' : {' ' : 'N'}, #children in that specific range of ages
'CHILD12': {' ' : 'N'}, #note: more than 90 000 records have None, on each of these 4 variables
'CHILD18': {' ' : 'N'},
'NUMCHLD': {np.nan : 0}, #assuming NaN is zero, bc there is no zero on this variable!?
'GENDER' : {' ' : 'U', 'A' : 'U', 'C' : 'U'}, #Incoherence (Belo!) -> nem que se fale só no relatório!
#values 'A' (2 of them) & 'C' (2) are not described on the metadata, most probably those are errors
#we assume the blank spaces, As and Cs can be assumed to be Unkwown
'SOLP3' : {' ' : 'Default'},
'SOLIH' : {' ' : 'Default'}, #feature engineering: create a binary with -> 0 (can't be mailed), 1 (can be mailed)
'MAJOR' : {' ' : '0', 'X' : '1'},
'GEOCODE2' : {' ' : np.nan}}, inplace = True)

In [70]:
donors['NUMCHLD'].unique() #assuming nan is zero childs

array([nan,  1.,  2.,  3.,  4.,  5.,  6.,  7.])

In [82]:
(donors.loc[(donors['CHILD03'] != 'N') | (donors['CHILD07'] != 'N') | (donors['CHILD12'] != 'N') | (donors['CHILD18'] != 'N')
            | (donors['NUMCHLD'] != 0), 'NUMCHLD'])

1        1.0
4        1.0
6        1.0
10       0.0
12       2.0
        ...
95373    0.0
95375    1.0
95377    2.0
95404    1.0
95408    1.0
Name: NUMCHLD, Length: 13869, dtype: float64

In [ ]:
#New column CHILD: 1 has children(filhos) 0 cc